<!DOCTYPE html>
<html>
	<head>
		<title>User Registration </title>
	</head>
	<body>
	Please Enter Your Details to Register
	<form method="post">
		<label>Enter Your Name
			<input type="text" name="username" value="">
		</label>	
		<br>
		<label>Enter Youre Password
			<input type="password" name="password">
		</label>
		<br>
		<label>Re-enter Your Password
			<input type="pssword" name="pssword">
		</label>
		<br>
		<label>Enter Your Email
			<input type="email" name="email">
		</label>	
		<br>
		<input type="submit">		
	</form>
	</body>
</html>